.search{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchTop{
    align-items: flex-start;
    justify-content: center;

}

.searchCenter{
    align-items: center;
    justify-content: center;
    height: 100vh;
}