.search{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.searchTop{
    align-items: flex-start;
    justify-content: flex-start;

}

.serachCenter{
    align-items: center;
    justify-content: center;
}